<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home | Mentor4Life</title>
        <script type="text/javascript" src="/third_party/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/dash.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/dash.css">
    </head>
    
    <div id="header">
        <a href="/views/dash.html" id="dash-icon">&nbsp;</a>
        <a href="javascript:void()" id="connections-icon">&nbsp;</a>
        <a href="javascript:void()" id="messenger-icon">&nbsp;</a>
        <a href="javascript:void()" id="notification-icon">&nbsp;</a>
        <a href="/views/profile.html" id="profile-icon">&nbsp;</a>
    </div>

    <div id="body">
        <a class="dash-icons-blk" id="dash-icon-blk" href="/views/dash.html">&nbsp;</a>
        <div class="dash-icons-blk" id="connections-icon-blk">&nbsp;</div>
        <div class="dash-icons-blk" id="messenger-icon-blk">&nbsp;</div>
        <div class="dash-icons-blk" id="notification-icon-blk">&nbsp;</div>
        <a class="dash-icons-blk" id="profile-icon-blk" href="/views/profile.html">&nbsp;</a>
    </div>

</html>