<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile | Mentor4Life</title>
        <script type="text/javascript" src="/third_party/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/profile.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
    </head>
    
    <body>
        <div id="header">
            <a href="javascript:void()" id="connections-icon">&nbsp;</a>
            <a href="javascript:void()" id="messenger-icon">&nbsp;</a>
            <a href="javascript:void()" id="notification-icon">&nbsp;</a>
            <a href="javascript:void()" id="profile-icon">&nbsp;</a>
        </div>
        
        <div id="body">
            </div>
    </body>
</html>